<!--============  ng-content  ============-->

<!--<app-item>-->
<!--  <h1>Hello! {{title}}</h1>-->
<!--  <div>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, quos.-->
<!--  </div>-->
<!--</app-item>-->


<!--================  directive  ===============-->

<!--&lt;!&ndash;<div appColory>Lorem ipsum dolor.</div>&ndash;&gt;-->
<!--&lt;!&ndash;<app-item appColory></app-item>&ndash;&gt;-->

<!--<div *appDelay="7">Lorem ipsum dolor sit.</div>-->
<!--<app-item *appDelay="6"></app-item>-->
<!--<div *ngFor="let delay of [1, 2, 3, 4, 5]">-->
<!--  <app-item *appDelay="delay"></app-item>-->
<!--</div>-->

<!--&lt;!&ndash;так працює під капотом&ndash;&gt;-->

<!--&lt;!&ndash;<ng-template [appDelay]="3">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-item></app-item>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

<!--&lt;!&ndash;ng-template - це ViewContainerRef&ndash;&gt;-->
<!--&lt;!&ndash;app-item - це TemplateRef&ndash;&gt;-->

<!--++++++++++++++++++++++++++++++++++++-->

<!--<div appColory #colory="colory">Lorem ipsum dolor sit amet.</div>-->
<!--&lt;!&ndash;<button (click)="colory.setRandomColor()">click</button>&ndash;&gt;-->

<!--<app-item appColory #colory2="colory"></app-item>-->

<!--<button (click)="colory.setRandomColor(); colory2.setRandomColor();">click</button>-->

<!--==============================================-->

