<div>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a routerLink="admin" routerLinkActive="active">Admin</a>
  <a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
  <a routerLink="users" [queryParams]="{q: 1111}" routerLinkActive="active">Users with query</a>
  <a [routerLink]="['user', id]" routerLinkActive="active">User</a>
</div>


<a [routerLink]="[{outlets: {popup: 'login'}}]">Show popup</a>
<a [routerLink]="[{outlets: {popup: null}}]">Hide popup</a>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
